* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
}
input[type='file'] {
  display: none;
}
body,html {
  margin: 0;
  padding: 0;
}
body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-left: calc(100vw - 100%);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
textarea{
  resize: none;
}
.home{
  display: flex;
  justify-content: center;
  height: 100%;
}
.timeline{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 600px;
  /* border-inline: 1px solid #e8e8e8; */
  padding: 5px;
  /* background-color: #fafafa; */
  min-width: 600px;
  height: 100%;
  overflow: hidden;
}
.post--wrapper{
  width: 100%;
  margin: 2px;
  display: flex;
  flex-direction: column;
  border: 2px solid #e8e8e8;
  border-radius: 5px;
  padding: 5px;
}
.post{
  display: flex;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}
.post--left{
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post--pic-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #e8e8e8;
  /* border: 1px solid #e8e8e8; */
}
.post--pic{
  height: 50px;
  width: 50px;
  object-fit: cover;
}
.post--thread{
  background-color: #e8e8e8;
  margin-top: 5px;
  width: 3px;
  height: 100%;
}
.post--right{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 10px;
}
.post--main{
  color: #212121;
  margin-bottom: 20px;
}
.post--text{
  margin-block: 8px;
}
.post--username-wrapper{
  width: 100%;
}
.post--username{
  display: inline;
  font-size: 20px;
  width: 100%;
  font-weight: 600;
}
.post--reply-to{
  color: #8a8a8a;
}
.post--footer{
  display: flex;
  color: #8a8a8a;
  height: 30px;
}
.post--likes{
  display: flex;
  align-items: center;
  height: 30px;
  margin-right: 50px;
}
.post--likes > p{
  margin-left: 10px;
}
.post--reposts{
  display: flex;
  align-items: center;
  height: 30px;
  margin-right: 50px;
}
.post--reposts > p{
  margin-left: 10px;
}
.post--comments{
  display: flex;
  align-items: center;
  height: 30px;
  margin-right: 50px;
}
.post--comments > p{
  margin-left: 10px;
}
.post--comment-area-wrapper{
  display: flex;
  flex-direction: column;
  border: none;
}
.post--comment-area{
  height: 100px;
}
.post--icon-wrapper{
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}
textarea{
  border: 1px solid white;
  padding: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  margin: 5px;
  border-radius: 5px;
}
input:focus{
  outline: none !important;
  box-shadow: 0 0 5px rgba(134, 63, 217, .9);
}
.post--submit-wrapper{
  background-color: white;
  display: flex;
  justify-content: end;
  margin-top: 5px;
  margin: 5px;
  border-radius: 5px;
}
.post--submit-button{
  background-color: rgba(34, 58, 214, .6);
  border: none;
  padding: 8px;
  border-radius: 5px;
  margin: 5px;
  font-weight: bold;
  color: white;
}
.post--reposted-by{
  color: #8a8a8a; 
  margin-top: -5px;
  display: flex;
  align-items: center;
}
.post--top-icon{
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}
.post--postdate{
  color: #757575;
  font-size: 13px;
}
.post--main-top{
  display: flex;
}
.post--menu-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 20px;
  background: rebeccapurple;
  border-radius: 25px;

}
.navbar, .extra{
  align-self: flex-start;
  position: sticky;
  top: 0px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-inline: 10px;
  background-color: white;
  height: 100%;
  min-width: 200px;
  /* border: 1px solid gainsboro; */
}
.navbar--button-container{
  width: 100%;
  min-width: 175px;
}
.navbar--button{
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 50px;
  border: none;
  padding: 10px;
  margin-block: 15px;
  font-size: 20px;
  color: #212121;
}
.navbar--icon{
  display: flex;
  margin-right: 10px;
}
.navbar--logo{
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 30px;
  margin-block: 15px;
  color: rgba(134, 63, 217, 1);
}
.navbar--notifs{
  position: absolute;
  background-color: #de4b4b;
  font-size: 15px;
  border-radius: 10px;
  height: 18px;
  width: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 3px;
  left: 18px;
  color: white;
}
.extra--post-button{
  background: rgba(134, 63, 217, .9);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 30px;
  border: none;
  padding: 12px;
  margin-block: 15px;
  font-size: 20px;
  color: white;
  font-weight:700;
}
.preview{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:left;
  margin-block: 15px;
  border-bottom: 2px solid black;
  height: 40px;
}
.preview--pic-wrapper{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  min-width: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-inline: 5px;
}
.preview--pic{
  height: 100%;
}
.preview--username{
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
  margin-left: 10px;
  font-size: 18px;
}
.preview--triangle{
  color: rgba(134, 63, 217, 1);
}
.extra--search{
  width: 100%;
  font-size: 15px;
  padding: 10px;
  border-radius: 20px; 
  border: 2px solid #e8e8e8;
  background: #f6f6f6;
}
.notetoself--textarea:focus{
  outline: none !important;
  box-shadow: 0 0 5px rgba(134, 63, 217, .9);
}
.postmodal--overlay{
  position: fixed;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .35);
  padding: 100px;
}
.postmodal--container{
  height: 350px;
  width: 600px;
  background: white;
  border-radius: 20px;
  padding: 10px;
  display: flex;
}
.postmodal--left{
  width: 100px;
  display: flex;
  justify-content: center;
  margin-right: 10px;
}
.postmodal--right{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.postmodal--top{
  position: absolute;
  right: 0;
  font-weight: 700;
  font-size: 20px;
}
.postmodal--exit{
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 17px;
  border-radius: 50%;
}
.postmodal--main{
  height: 300px;
}
.postmodal--username{
  padding: 10px;
}
.postmodal--comment-area{
  font-size: 20px;
  border-radius: 0;
  width: 95%;
  height: 70%;
}
.postmodal--comment-area:focus{
  outline: none !important;
}
.postmodal--bottom{
  height: 50px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: end;
  border-top: 2px solid #e8e8e8;
}
.postmodal--post-button{
  background-color: rgba(107, 35, 169, .9);
  border: none;
  padding: 8px;
  border-radius: 5px;
  margin: 5px;
  font-weight: bold;
  color: white;
  height: 35px;
  width: 60px;
}
.postmodal--pic-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  overflow: hidden;
  border: 1px solid #e8e8e8;
  margin-right: 10px;
  border-radius: 50px;
}
.postmodal--pic{
  height: 100%;
}
.postmodal--reply{
  margin-left: 10px;
  color: #8a8a8a;
}
.login{
  height: 100vh;
  display: flex;
  justify-content: center;
  background: rgba(134, 63, 217, .9);
}
.login--container{
  margin-top: 200px;
  background: white;
  height: 50%;
  width: 90%;
  max-width: 700px;
  border-radius: 30px;
  box-shadow: 0 0 20px rgb(41, 41, 41);
  padding: 0px;
  display: flex;
}
.login--left{
  border-radius: 20px;
  width: 50%;
  margin-right: 5px;
  padding: 10px;
}
.login--title{
  font-size: 50px;
  display: flex;
  align-items: center;
}
.login--right{
  border-radius: 20px;
  width: 50%;
  margin-left: 5px;
  padding: 10px;
  /* display: flex;
  justify-content: center;
  flex-direction: column; */
}
.login--email, .login--password{
  padding: 8px;
  width: 100%;
  font-size: 20px;
  margin-block: 15px;
  border-radius: 5px;
  background-color: #ededed;
  font-size: 17px;
}
.login--submit{
  background-color: rgba(134, 63, 217, .9);
  border: none;
  padding: 8px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  width: 100%;
  margin-top: 15px;
  font-size: 17px;
}
.login--error{
  color: rgb(250, 15, 15);
}
.login--display{
  height: 100%;
  width: 100%;
  border-radius: 20px;
}
.profile{
  display: flex;
  justify-content: center;
  height: 100%;
}
.profile--middle{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 600px;
  /* border-inline: 1px solid #e8e8e8; */
  padding: 5px;
  /* background-color: #fafafa; */
  min-width: 600px;
  height: 100%;
  overflow: hidden;
}
.profile--content{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 2px;
  border: 2px solid #e8e8e8;
  border-radius: 5px;
}
.profile--background{
  width: 100%;
  height: 175px;
  border-radius: 10px;
}
.profile--image{
  border-radius: 100px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  /* border: 1px solid #e8e8e8; */
  margin-left: 10px;
  background-color: #e8e8e8;
}
.profile--edit-wrapper{
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 10px;
}
.profile--edit{
  background-color: white;
  border: 1px solid #e8e8e8;
  padding: 10px;
  font-size: 13px;
  border-radius: 20px;
  font-weight: 600;
}
.profile--navbar{
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.profile--navbutton{
  background-color: white;
  border: none;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile--details{
  padding: 10px;
}
.profile--username{
  font-size: 25px;
}
.profile--fullname{
  color: #757575;
}
.profile--bio{
  margin-block: 10px;
  font-size: 17px;
  color: #212121;
}
.profile--nav-text{
  border-bottom: 5px solid rgba(134, 63, 217, .9);
  color: #757575;
  padding: 15px;
  width: 40%;
  font-size: 14px;
}
.profile--follow{
  color: white;
  padding: 10px;
  font-size: 13px;
  border-radius: 20px;
  font-weight: 600;
  width: 90px;
}
.profile--follow-details{
  width: 50%;
  display: flex;
  align-items: center;
  padding: 10px;
}
.profile--followers{
  display: flex;
  margin-right: 20px;
}
.profile--following{
  display: flex;
}
.profile--following > h4{
  margin-right: 4px;
  font-weight: 600;
}
.profile--followers > h4{
  margin-right: 4px;
  font-weight: 600;
}
.profile--following > p{
  color: #757575;
}
.profile--followers > p{
  color: #757575;
}
.userlist{
  display: flex;
  justify-content: center;
  height: 100%;
}
.userlist--followers{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 600px;
  /* border-inline: 1px solid #e8e8e8; */
  /* background-color: #fafafa; */
  min-width: 600px;
  height: 100%;
  overflow: hidden;
  padding: 5px;
}
.userlist--top{
  top: 0;
  position: sticky;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #e8e8e8;
  /* overflow: hidden; */
}
.userlist--top-main{
  display: flex;
  align-items: center;
}
.userlist--userdetails{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  height: 50px;
}
.userlist--username{
  font-weight: 700;
  font-size: 22px;
}
.userlist--back{
  padding: 5px;
  height: 35px;
  width: 35px;
  margin-inline: 10px;
  border-radius: 50%;
}
.userlist--buttons{
  height: 50px;
  display: flex;
}
.userlist--button{
  height: 100%;
  width: 100%;
  background-color: white;
  border: none;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.userlist--top-main{
  display: flex;
}
.simple{
  width: 100%;
  min-height: 75px;
  max-height: 100px;
  padding: 5px;
  display: flex;
  border: 1px solid #e8e8e8;
  margin-block: 2px;
  border-radius: 20px;
}
.simple--left{
  margin-right: 5px;
}
.simple--middle{
  width: 100%;
}
.simple--right{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.simple--top{
  display: flex;
  align-items: center;
}
.simple--pic{
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #e8e8e8;
}
.simple--username{
  font-size: 18px;
  font-weight: 600;
  margin-right: 5px;
}
.simple--fullName{
  color: #757575;
  font-size: 14px;
}
.simple--follow{
  border: 1px solid #e8e8e8;
  background-color: black;
  color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  width: 85px;
  font-weight: 600;
}
.fullpost{
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.fullpost--middle{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 600px;
  /* border-inline: 1px solid #e8e8e8; */
  padding: 5px;
  /* background-color: #fafafa; */
  min-width: 600px;
  height: 100%;
  overflow: hidden;
}
.fullpost--main-wrapper{
  width: 100%;
  margin: 2px;
  display: flex;
  flex-direction: column;
  border: 2px solid #e8e8e8;
  border-radius: 5px;
  padding: 5px;
  background: #f6f6f6;
  box-shadow: 0px 0px 5px rgba(134, 63, 217, .9);
  margin-block: 5px;
}
.fullpost--main{
  max-height: 500px;
  width: 100%;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}
.fullpost--top{
  display: flex;
}
.fullpost--username{
  font-weight: 600;
  font-size: 20px;
}
.fullpost--fullname{
  color: #757575;
}
.fullpost--image-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  min-width: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  /* border: 2px solid #e8e8e8; */
}
.fullpost--image{
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.fullpost--content-wrapper{
  margin-block: 15px;
  padding: 5px;
  max-height: 200px;
  padding-top: 0px;
}
.fullpost--content{
  font-size: 22px;
  font-weight: 400;
}
.fullpost--interactions{
  display: flex;
  padding: 10px;
  border-block: 1px solid #e8e8e8;
}
.fullpost--likes{
  display: flex;
  margin-right: 40px;
}
.fullpost--interaction-number{
  margin-right: 3px;
  font-weight: 600;
}
.fullpost--interaction-text{
  color: #757575;
}
.fullpost--reposts{
  display: flex;
}
.fullpost--footer{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  color: #8a8a8a;
  margin-top: 8px;
}
.fullpost--bubble{
  padding: 10px;
  background-color: #fafafa;
  display: flex;
  border-radius: 100px;
}
.fullpost--replyTo{
  height: 24px;
  margin-top: 15px;
  color: #757575;
  margin-left: 5px;
}
.fullpost--repostedBy{
  margin-bottom: 10px;
  color: #757575;
  display: flex;
  align-items: center;
}
.fullpost--top-icon{
  margin-right: 5px;
  display: flex;
  font-size: 20px;
}
.fullpost--postDate{
  margin-left: 5px;
  margin-bottom: 10px;
  color: #757575;
}
.fullpost--dots-wrapper{
  display: flex;
  justify-content: end;
  align-items:flex-start;
  font-size: 20px;
  width: 100%;
  margin-right: 5px;
}
.notetoself{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  border: 2px solid #e8e8e8;
  width: 100%;
  height: 200px;
  border-radius: 10px;
  padding-inline: 5px;
}
.notetoself--textarea{
  background-color: white;
  height: 100%;
  width: 100%;
  margin: 0px;
}
.notetoself--bottom{
  width: 100%;
  margin-block: 5px;
  text-align: end;
}
.notetoself--save{
  background-color: rgba(134, 63, 217, .9);
  color: white;
  border: none;
  height: 28px;
  width: 50px;
  font-weight: 600;
  border-radius: 5px;
}
.notetoself--title{
  margin-bottom: 5px;
}
.header{
  top: 0;
  position: sticky;
  width: 100%;
  background-color: rgba(255,255,255,0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.notifications{
  display: flex;
  justify-content: center;
  height: 100%;
}
.notifications--middle{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 600px;
  /* border-inline: 1px solid #e8e8e8; */
  padding: 5px;
  /* background-color: #fafafa; */
  min-width: 600px;
  height: 100%;
  overflow: hidden;
}
.notif{
  width: 100%;
  max-height: 150px;
  display: flex;
  border-radius: 20px;
  margin-block: 2px;
  border: 1px solid #e8e8e8;
  padding: 10px;
}
.notif--left{
  width: 80px;
  display: flex;
  justify-content: end;
  margin-right: 10px;
  font-size: 22px;
  border-bottom-left-radius: 13px;
  border-top-left-radius: 13px;
}
.notif--right{
  width: 100%;
  font-size: 18px;
}
.notif--header{
  display: flex;
  align-items: baseline;
}
.notif--username{
  margin-right: 5px;
  font-weight: 600;
  font-size: 20px;
}
.notif--content{
  margin-top: 10px;
  font-size: 16px;
  color: #757575;
}
.editModal--wrapper{
  position: fixed;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .35);
  padding: 100px;
}
.editModal{
  background: white;
  height: 700px;
  width: 500px;
  border-radius: 20px;
  overflow: hidden;
  background-color: transparent;
}
.editModal--main{
  background: white;
  height: 700px;
  width: 100%;
  padding: 20px;
}
.editModal--pic-wrapper{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #e8e8e8;
  margin-bottom: 10px;
}
.editModal--pic{
  width: 110px;
  height: 110px;
  object-fit: cover;
}
.editModal--fields{
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 100%;
}
.editModal--input{
  display: flex;
  flex-direction: column;
  margin-block: 10px;
}
.editModal--input > input{
  padding: 8px;
  width: 100%;
  margin-block: 5px;
  border-radius: 5px;
  background-color: white;
  font-size: 17px;
  border: 2px solid #e8e8e8;
}
.editModal--input > textarea{
  height: 200px;
  margin-inline: 0px;
  border: 2px solid #e8e8e8;
  font-size: 17px;
  padding: 8px;
}
.editModal--input > h4{
  margin-left: 5px;
}
.editModal--bioField:focus{
  outline: none !important;
  box-shadow: 0 0 5px rgba(134, 63, 217, .9);
}
.editModal--header{
  background-color: rgba(134, 63, 217, 1);
  padding: 10px;
  position: relative;
  top: 0;
  color: white;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  display: flex;
  justify-content: center;
}
.editModal--title{
  width: 100%;
}
.editModal--exit{
  position: absolute;
  top: 8px;
  left: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 17px;
  color: white;
}
.editModal--save-wrapper{
  display: flex;
  justify-content: end;
}
.editModal--save{
  background-color: rgba(134, 63, 217, .9);
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  font-weight: bold;
  color: white;
  font-size: 15px;
  height: 40px;
  width: 75px;
}
.editModal--upload-image{
  display: inline-block;
  background-color: black;
  text-align: center;
  font-size: 13px;
  padding: 6px;
  color: white;
  font-weight: 600;
  height: 30px;
  margin-bottom: 20px;
  border-radius: 100px;
  margin-left: 10px;
}
/*i took away the borders for now, lets see if we like it*/